<div id="calendarModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Memory Calendar</h2>
        <div class="calendar-container">
            <!-- Calendar will be populated by JavaScript -->
        </div>
    </div>
</div> 