<div id="viewMemoryModal" class="modal">
    <div class="modal-content memory-view">
        <span class="close">&times;</span>
        <div class="memory-card-large">
            <div class="memory-front">
                <img src="" alt="Memory">
            </div>
            <div class="memory-back">
                <p class="handwritten"></p>
            </div>
        </div>
    </div>
</div> 